pytooter_clientcred.secret
pytooter_usercred.secret
.idea/
masto-rocket.zip
rocketalert-mastodon.tar

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
*.egg-info/

# Testing
.coverage
.coverage.*
htmlcov/
.pytest_cache/
coverage.xml
.tox/
